<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
	</head>
	<body>
		<div id="app">
			<table width="1000px" class="table table-bordered">
				<tr>
					<td width="150">商品名称</td>
					<td width="150">商品图片</td>
					<td width="150">商品数量</td>
					<td width="150">商品价格</td>
					<td width="150">操作</td>
					<td>总价</td>
				</tr>
				<tr  v-for="(item,index) in list">
					<td>{{ item.name }}</td>
					<td><img :src="item.imgurl" width="150px" alt=""></td>
					<td>{{ item.number }}</td>
					<td>{{ item.price }}</td>
				
					<td>
						<button class="btn btn-success" @click="add(item)">+</button>
						<button class="btn btn-danger" v-if="item.number==0? false:true" @click="sub(item)">-</button>
					</td>
					<td>{{ item.number * item.price}}</td>	
				</tr>
			
			</table>
			<br>
			
		</div>
	</body>
</html>
<script type="text/javascript">
	new Vue({
		el:'#app',
		data:{
			list:[{
				name:'花椒锅巴',
				    imgurl:'../img/5.png',
				    price:19.9,
				    number:0
				},{
				    name:'芒果干',
				    imgurl:'../img/6.png',
				    price:23.5,
				    number:0
				},{
				    name:'猪肉脯',
				    imgurl:'../img/7.png',
				    price:22,
				    number:0
				},{
				    name:'巧克力',
				    imgurl:'../img/8.png',
				    price:99,
				    number:0
			}],
			show:true,
			imgurl:'',
			
			
			},
			methods:{
				add:function(item){
					console.log(item)
					item.number++
				},
				sub:function(item){
					item.number--
				}
		}
	})
</script>